<configuration>
    <system.webServer>
    <!-- Ensure that JSON files are treated as static files. -->
        <staticContent>
            <remove fileExtension=".json"/>
            <mimeMap fileExtension=".json" mimeType="application/json"/>
        </staticContent>
    </system.webServer>
</configuration>
