<configuration>
    <system.webServer>
    <!-- Ensure that JSON files are treated as static files. -->
        <staticContent>
            <remove fileExtension=".json"/>
            <mimeMap fileExtension=".json" mimeType="application/json"/>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" setEtag="true" />
        </staticContent>
    </system.webServer>
</configuration>
