<configuration>
    <system.webServer>
        <staticContent>
            <!-- Without this, JSON files result in 404s, even if they exist. -->
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>
    </system.webServer>

    <location path="static">
        <system.webServer>
            <staticContent>
                <!-- Add 30 day caching to static files. -->
                <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" setEtag="true" />
            </staticContent>
        </system.webServer>
    </location>
</configuration>
