* {
  box-sizing: border-box;
}

:root {
  --heading-bg-color: #cd5c5c;
  --heading-text-color: white;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

input,
button {
  font-family: inherit;
}

button {
  cursor: pointer;
}

dd {
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

.SubHeading {
  margin: 10px 0;
}

.SubHeading:not(:first-child) {
  margin-top: 20px;
}

.FullWidth {
  margin-left: -15px;
  margin-right: -15px;
}

.Page {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.PageContents {
  flex: 1;
  overflow-y: auto;
  padding: 15px;
}

.PageContents.WithVirtualizedScrollList {
  padding: 0;
}

.PageContents.HasFloatingFooter::after {
  content: "";
  display: block;
  height: 60px;
  width: 100%;
}

.PageFooter {
  flex-shrink: 0;
  padding: 5px 15px 15px 15px;
  display: flex;
  justify-content: flex-end;
}

.FloatingPageFooter {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  flex-shrink: 0;
  padding: 5px 15px 15px 15px;
  display: flex;
  justify-content: flex-end;
}

.Button {
  padding: 5px 10px;
  background: var(--heading-bg-color);
  color: white;
  border: 1px inset rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  text-transform: uppercase;

  transition: opacity 0.1s;
  opacity: 1;
  font-size: 1em;
}

.Button.ButtonSmall {
  padding: 4px 8px;
  font-size: 0.8em;
  border-radius: 2px;
}

.Button:active {
  opacity: 0.9;
}

.Button.Active {
  background: seagreen;
}

.PageHeader {
  flex-shrink: 0;

  padding: 15px;

  display: flex;
  flex-direction: column;

  background-color: var(--heading-bg-color);

  color: var(--heading-text-color);

  position: sticky;
  top: 0;
}

.HeaderAndBackButton {
  display: flex;
  align-items: center;
}

.HeaderAndBackButton > .BackButton {
  flex-shrink: 0;

  padding: 0;
  padding-right: 15px;
}

.HeaderAndBackButton > h1 {
  flex: 1;
}

#root {
  display: grid;
  grid-template-areas:
    "content"
    "footer";
  height: 100%;

  grid-template-rows: 1fr auto;
}

.PageHeader h1,
.PageHeader h2 {
  margin: 0;
}

.PageHeader h2 + h1 {
  margin-top: 10px;
}

.MainContents {
  grid-area: content;
  overflow-y: auto;
}

.MainNav {
  grid-area: footer;

  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color: var(--heading-bg-color);
}

.MainNav > a {
  padding: 10px;
  padding-bottom: 5px;
  color: var(--heading-text-color);
}

.MainNav > a.active {
  border-bottom: 3px solid var(--heading-text-color);
}

.CustomList {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style-type: none;
}

.CustomList:not(:empty) {
  border-bottom: 1px solid #cecece;
}

.CustomListItem {
  padding: 10px 15px;
  border-top: 1px solid #cecece;

  display: flex;
  align-items: center;

  background-color: #fff;
}

.CustomListItem,
.CustomListItem a {
  color: black;
}

.CustomListItem:hover {
  background-color: #efefef;
}

.CustomListItem.Multiline {
  flex-direction: column;
  align-items: stretch;
}

.CustomListItemActions {
  margin-left: auto;
}

.CustomListItem.Multiline > .CustomListItemRow {
  display: flex;
  align-items: flex-start;
}

.CustomListItemRow + .CustomListItemRow {
  margin-top: 10px;
}

.CustomListItemBadge {
  font-size: 0.85em;
  padding: 2px 8px;
  border-radius: 16px;

  background-color: rgba(0, 0, 0, 0.25);
  margin-left: auto;
}

.TextLineThrough {
  text-decoration: line-through;
}

.HeadingSearchInput {
  padding: 10px;
  border-radius: 2px;

  border: none;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.15);
}

.HeadingSearchFeedback {
  margin-top: 15px;
}

.NoResultsFeedback {
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.BackButton {
  background: transparent;
  color: inherit;
  border: none;
  font-size: inherit;
  font-family: inherit;
}

/* Taken from Bootstrap's sr-only */
.HiddenLabel {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.DataLoading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100%;

  color: #3a3a3a;
  padding: 0 15px;
}

.DataLoading > * {
  margin-top: 0;
  margin-bottom: 15px;
}

.Page > .LoadingPlaceholder {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Page > .LoadingPlaceholder > svg {
  font-size: 48px;
  color: var(--heading-bg-color);
}
